<section class="container">
<div class="row">
  <!-- Repeat the section content for each section -->
  <div class="col-sm-6">
    <p>kitchen</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/DCFvNFafeVA?si=2Yxb_Uhm6S1baF4y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <div class="col-sm-6">
  <p>woodwork</p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/DCFvNFafeVA?si=2Yxb_Uhm6S1baF4y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
<div class="col-sm-6">
  <p>gifts</p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/DCFvNFafeVA?si=2Yxb_Uhm6S1baF4y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
<div class="col-sm-6">
  <p>antiques</p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/DCFvNFafeVA?si=2Yxb_Uhm6S1baF4y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
</div>
<div class="row text-center">
  <a class="btn btn-secondary" href="#">View Complete Catalogue</a>
</div>
</section>
